<div class="card">
    <p *ngIf="bestseller.bestseller" class="banner"> {{bestseller.type}} Bestseller</p>
    <div class="d-flex">
        <div class="left">
            <img src="../../assets/tire.png" alt="">
        </div>
        <div class="right">
            <p class="title">{{bestseller.title}}</p>
            <div class="d-flex">
                <img src="../../assets/brand.png" alt="">
                <div>
                    <p>{{bestseller.no}}</p>
                    <p>{{bestseller.carType}}</p>
                </div>
                <div>
                    <p>Stock <i class="fa fa-check-circle in-stock" aria-hidden="true"></i>
                    </p>
                    <p>Price ${{bestseller.price}}</p>
                </div>
                <div>
                    <p>Total</p> ${{bestseller.total}}
                </div>
            </div>
            
        </div>
        
    </div>

    <div class="d-flex flex-row bottom-btn">
        <div class="btn-group border" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-light"(click)="decrease()">-</button>
            <button type="button" class="btn btn-secondary">{{bestseller.qty}}</button>
            <button type="button" class="btn btn-light"(click)="increase()">+</button>
          </div>
        <button class="btn cart-btn">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            <b>Add to Cart</b>
        </button>
    </div>
</div>