.boder{
    border:1px solid black;
}

.banner{
    /* border:1px solid #000; */
    background-color: orange;
    position: absolute;
    top: -9px;
    left: 0px;
    cursor: pointer;
    z-index: 2500;
    font-size:11px;
    font-weight:bold;
    padding:5px 14px;
}
.card{
    padding:1em;
    /* margin:0em 0.5em; */
}
.left,.right{
    padding:10px;
}
.left img{
    width:100px;
}
.right img{
    height:50px;
}
.title{
    font-weight: bold;
    text-decoration: underline;
    font-size:20px;
}
.in-stock{
    color:green;
}

.right div{
    margin:0px 10px;
}

.right div p{
    margin:0;
    font-size:12px;

}


.bottom-btn{
    /* border:1px solid black; */
    padding-top:10px;
    width:85%;
    justify-content: flex-end;
}

.cart-btn{
    border-radius: 25px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:120px;
    background-color: orange;
    margin-right: -3em;
    margin-left:4em;
}
b{
    font-size:12px;

}

.in-stock{
    color:green;
}
.out-of-stock{
    color:maroon;
}
.few-in-stock{
    color:orange;
}
.bg-color{
    background-color:lightgrey;
}

@media only screen and (max-width: 375px) {
         .cart-btn b, .notify-btn b{
        display:none;
    }
    .cart-btn,.notify-btn{
        width:fit-content;
        padding:5px 15px;
    }
    .bottom-btn{
        justify-content: space-around;
    }
}