<div class="card">
    <div class="d-flex one justify-content-between align-items-center">
        <p class="title">{{product.title}}<span><sup>TM</sup></span>6</p>
        <img class="brand" src="../../assets/brand.png" alt="">
        <p class="" >
            {{product.no}} <br>
            {{product.carType}}
        </p>
        <p class="stock">
            Stock 
            <!-- <i class="fa fa-check-circle in-stock" aria-hidden="true"></i> -->

            <span *ngIf="product.stock==='in'">
                <i class="fa fa-check-circle in-stock" aria-hidden="true"></i>
            </span>
            <span *ngIf="product.stock==='few'">
                <i class="fa fa-exclamation-circle few-in-stock" aria-hidden="true"></i>
                <p class="margin"><b>Back in 8 days</b></p>

            </span>
            <span *ngIf="product.stock==='out'">
                <i class="fa fa-times-circle out-of-stock" aria-hidden="true"></i>
                <p class="out-of-stock margin"><b>Back in 1 week!</b></p>
            </span>

        </p>
        <p class="">Price ${{product.price}}</p>
        <div class="btn-group btn-border" role="group" aria-label="Basic example"> 
            <button type="button" class="btn btn-light"(click)="decrease()">-</button>
            <button type="button" class="btn bg-color">{{product.qty}}</button>
            <button type="button" class="btn btn-light"(click)="increase()">+</button>
        </div>
        <p class="">Total $<b style="font-size:16px">{{product.total}}</b></p>

        <button class="btn cart-btn" *ngIf="product.stock !== 'out'">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            <b>Add to Cart</b>
        </button>
        <button class="btn notify-btn" *ngIf="product.stock === 'out'">
            <i class="fa fa-bell" aria-hidden="true"></i>
            <b>Notify Me!</b>
        </button>
    </div>
</div>