<div class="card">
    <div class="d-flex one justify-content-between">
        <p class="title">{{product.title}}</p>
        <img class="brand" src="../../assets/brand.png" alt="">
        <p class="" >{{product.no}}</p>
        <p class="">{{product.carType}}</p>
        <p class="">
            Stock 
            <!-- <i class="fa fa-check-circle in-stock" aria-hidden="true"></i> -->

            <span *ngIf="product.stock==='in'">
                <i class="fa fa-check-circle in-stock" aria-hidden="true"></i>
            </span>
            <span *ngIf="product.stock==='few'">
                <i class="fa fa-exclamation-circle few-in-stock" aria-hidden="true"></i>
                <p class="margin"><b>Back in 8 days</b></p>

            </span>
            <span *ngIf="product.stock==='out'">
                <i class="fa fa-times-circle out-of-stock" aria-hidden="true"></i>
                <p class="out-of-stock margin"><b>Back in 1 week!</b></p>
            </span>

        </p>
        <p class="">Price ${{product.price}}</p>
        <p class="">Total ${{product.total}}</p>
        <div class="btn-group border " role="group" aria-label="Basic example">
            <button type="button" class="btn btn-light"(click)="decrease()">-</button>
            <button type="button" class="btn btn-secondary">{{product.qty}}</button>
            <button type="button" class="btn btn-light"(click)="increase()">+</button>
        </div>
        <button class="btn cart-btn" *ngIf="product.stock !== 'out'">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            <b>Add to Cart</b>
        </button>
        <button class="btn notify-btn" *ngIf="product.stock === 'out'">
            <i class="fa fa-bell" aria-hidden="true"></i>
            <b>Notify Me!!</b>
        </button>
    </div>
</div>