
.card{
    margin:0.5em 0em;
    padding:1em;
    height:100px;
    max-height: 100px;
}

.title{
    font-weight: bold;
    text-decoration: underline;
    font-size:20px;
    width:20%;
}
.title sup{
    text-decoration: none;
    
}
.brand{
    height:50px;
}

.margin{
    margin:0em 0em;
}


.bg-color{
    background-color: lightgrey;
}

/* .cart-btn{
    border-radius: 25px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:120px;
    background-color: orange;
} */
b{
    font-size:12px;

}


.cart-btn b, .notify-btn b{
    display:flex;
}

.in-stock{
    color:green;
}
.out-of-stock{
    color:maroon;
}
.few-in-stock{
    color:orange;
}



@media(max-width:1024px){
     .cart-btn b, .notify-btn b{
        display:none;
    }
    .cart-btn,.notify-btn{
        width:fit-content;
        padding:5px 15px;
    }
    .title{
        font-size:15px; 
        }
}