<div class="d-flex justify-content-between">
    <div class="filter">
        Selected Filters:
        <span class="pill">
            Continental
            <i class="fas fa-times-circle"></i>
        </span>
    </div>
    <div class="sort">
        Sort by: 
            <span class="btn-group">
                <button type="button" class="dropdown-toggle btn" 
                data-toggle="dropdown" aria-haspopup="true" 
                aria-expanded="false"> 
                Popularity <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a>Popularity</a></li>
                <hr />
                <li><a>Lowest Price</a></li>
                <li><a>Most Stock</a></li>
                <li><a>Model A-Z</a></li>
                <li><a>Code No.</a></li>    
            </ul>
            </span>
    </div>
</div>