.navbar{
    background-color:white;
    
    /* width: 130%; */
}
.input-group{
    width:40%;
    border-radius: 25px;
    border:1px solid black;
}

#search-text{
    border:none;
    background-color: inherit;
    width: auto;
}
#search-icon{
    border:1px solid black;
    background-color: orange;
    padding:12px;
    border-radius:50%;
}

#search-icon-1{
    background-color: orange;
    position: absolute;
    border-radius:50%;
    padding:16px;
    top: 12px;
    right: 32.9em;
    cursor: pointer;
    z-index: 2500;
    display:none;
}


.icons{
    width:150px;
    margin-bottom: -20px;
}
#search-mini{
    display: none;
}
.icon{
    text-align: center;
    color:gray;
    font-size:20px;
}

.icon p {
    font-size:10px;
}

img{
    width:2em;
}

input:focus {outline: none; }


@media only screen and (max-width: 375px) {
   .input-group{
       display:none !important;
   }
   #search-icon-1{
    padding:10px;
    top: 10px;
    right: 10.8em;
    display:block
   }
   .icon p{
       display:none;
   }
   .icon{
       font-size: 25px;
   }
   .icons{
       margin:0;
   }
   .icon:hover, .icon p:hover{
       transform:scale(1.5);
       display:block;
   }
}
