<nav class="navbar sticky-top">
    <!-- element 1  -->
   <a class="navbar-brand ">
       <img src="../../assets/header/options-sharp.png" />
   </a>

   <!-- element 2  -->

   <div class="input-group border d-flex justify-content-between ">
    <div class="p-2  bd-highlight" >
        <input class="flex-shrink-1" type="text" name="" id="search-text" placeholder="Search">
    </div>
  <div class="bd-highlight">
      <i class="fa fa-search" aria-hidden="true" id="search-icon"></i>
  </div>
   </div>

    <!-- element 3  -->
      <div class="icons d-flex justify-content-between ">
        <div class="icon align-self-end">
            <i class="fa fa-user"></i>
            <p>Account</p>
        </div>  
        <div class="icon">
            <i class="fa fa-file-alt"></i>
            <p>Orders</p>
        </div>
        <div class="icon">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <p>Cart</p>
        </div>
      </div>
  
  </nav>