.container-fluid{
    padding:1em;
}
.small{
    display:none;
}


@media only screen and (max-width: 614px) {
    .filter{
        display: none;
    }
    .container-fluid{
        padding:0em;
    }
    .bestseller{
        overflow-x: scroll;
    }
    .large{
        display:none;
    }
    .small{
        display: flex;
    }
}