.container{
    padding:1em 0em;
}
.small{
    display:none;
}
.load-btn{
    width:100%;
    border-radius: 25px;
    background-color: inherit;
    padding:1em;
    border-color: #000;
}
@media only screen and (max-width:768px){
    .bestseller{
        overflow-x: scroll;

    }
}
@media only screen and (max-width: 375px) {
    .filter{
        display: none;
    }
    .container-fluid{
        padding:0em;
    }
    .bestseller{
        overflow-x: scroll;
    }
    .large{
        display:none;
    }
    .small{
        display: flex;
    }
}