<app-header></app-header>
<div class="container-fluid">
<p class="h3">Recommended Products</p>
<app-filter class="filter"></app-filter>
<hr>
<div class="bestseller d-flex flex-wrap">
<app-bestseller *ngFor="let bestseller of bestsellers" [bestseller]="bestseller"></app-bestseller>
</div>
<hr>
<div class="d-flex flex-column flex-wrap">
    <div *ngFor="let product of products">
        <app-large-card class="large" [product]="product"></app-large-card>
        <app-bestseller class="small" [bestseller]="product"></app-bestseller>
    </div>
</div>
</div>